body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .heading{
    text-align: center;
    font-size: 30px;
    font-family: monospace; 
  }
  
  .game-board {
    margin: auto;
    padding: 10px;
}

.winner{
  text-align: center;
  font-size: 28px;
  font-family: monospace; 
}

.loser{
  text-align: center;
  font-size: 20px;
  font-family: monospace; 
  margin-top: 25px;
}

@media(max-width:992px){
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}
.heading {
  font-size: 19px;
}
.winner {
  font-size: 20px;
  margin-bottom: 50px;
}
}